@model ProductFilterVM

<style>
    /* CSS for zoom-in effect */
    .product-item,
    .category-item {
        transform: scale(0.9);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

        .product-item.show,
        .category-item.show {
            transform: scale(1);
            opacity: 1;
        }
</style>

@* Danh sách loại sản phẩm đang được chọn*@
@if (Model.SelectedCategoryIds != null)
{
    <div class="row">
        @foreach (var category in Model.Categories)
        {
            @if (Model.SelectedCategoryIds.Contains(category.CategoryId))
            {
                <div class="col-2 col-xl-1 mt-4 category-item">
                    <div class="text-center p-2 rounded-2 border border-1 border-black position-relative btn-outline-primary small w-100">
                        @category.Name<a onclick="RemoveCategory(`${@category.CategoryId}`, this)" class="btn bg-danger position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle p-1"><i class="bi bi-x"></i></a>
                    </div>
                </div>
            }
        }
    </div>
}
@* Danh sách sản phẩm *@
<div class="row">
    @foreach (var obj in Model.Products)
    {

        <div class="col-6 col-md-4 col-xl-3 d-flex justify-content-around my-4 product-item">
            <div class="card border-0 border-5 border-top shadow rounded-2 text-center p-2" style="width:260px">
                <div class="h-100">
                    @if (obj.ProductImages != null && obj.ProductImages.Count > 0)
                    {
                        <img class="card-img-top rounded" src="@obj.ProductImages.FirstOrDefault().ImageUrl" alt="Card Book">
                    }
                    else
                    {
                        <img class="card-img-top rounded" src="~/images//product/no_image.jpg" alt="Card Book">
                    }
                </div>
                <div class="card-body">
                    <div style="height:70px;" class="d-flex flex-column justify-content-center mh-100 overflow-y-hidden">
                        <p title="@obj.Title" class="card-title h4 text-black text-uppercase text-opacity-75">
                            @obj.Title
                        </p>
                    </div>
                    <div>
                        <p class="card-title text-warning">by <b>@obj.Author</b></p>
                    </div>
                    <div>
                        <p class="text-black text-opacity-50 m-0">List price: <span class="text-decoration-line-through ">@obj.ListPrice.ToString("c")</span></p>
                        <p>As low as <b>@obj.Price100.ToString("c")</b></p>
                    </div>
                    <div>
                        <a asp-area="Customer" asp-controller="Home" asp-action="Detail" asp-route-productId="@obj.ProductId" asp- class="btn btn-primary bg-gradient border-0 form-control">Detail</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>