@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Manage User";
}
<div class="container-fluid">
    <div class="card shadow border-1 mt-4">
        <div class="card-header bg-secondary bg-gradient  py-3">
            <div class="row">
                <div class="col-12 text-center text-white">
                    <h2>Manage User</h2>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container-fluid mb-3">
                <div class="row">
                    <div class="col-12 text-start p-0">
                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">
                            <i class="bi bi-plus-circle"></i> Create new User
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="myTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Company</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ApplicationUser item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                @if (item.Company == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@item.Company.Name</td>
                                }
                                <td>@item.Role</td>
                                <td class="text-center">
                                    <div class="w-100 btn-group" role="group">
                                        <a asp-controller="User" asp-action="CreateOrUpdate" asp-route-id="@item.Id" class="btn btn-primary mx-2">
                                            <i class="bi bi-pencil-square"> Edit</i>
                                        </a>
                                        @*  <a onclick="DeleteConfirm('/admin/company/delete/@item.Id', this)" class="btn btn-outline-danger mx-2">
                                    <i class="bi bi-trash"> Delete</i>
                                    </a> *@
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

