@model ShoppingCart
@{
    ViewData["Title"] = "Detail Book";
}

<form method="post">
    <input asp-for="ProductId" hidden />

    <div class="container mt-4 ">
        <div class="row p-4 shadow border border-1 border-black border-opacity-10 rounded rounded-1">
            <div class="text-dark text-opacity-50 mb-3">
                <a asp-action="Index" class="btn btn-outline-primary">
                    <i class="bi bi-caret-left"></i> Back to Home
                </a>
            </div>
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                <div class="pe-4">
                    @* <img src="https://placehold.co/500x600" width="100" class="rounded" /> *@
                    @if (!String.IsNullOrEmpty(@Model.Product.ImageUrl))
                    {
                        <img class="w-100 h-100 img-fluid rounded rounded-top-2 rounded-bottom-5 " src="@Model.Product.ImageUrl" />
                    }
                    else
                    {
                        <div class="border border-1 border-black border-opacity-10 shadow rounded rounded-top-2 rounded-bottom-5 ">
                            <img class="w-100 h-100 img-fluid rounded rounded-top-2 rounded-bottom-5 " src="~/images/product/no_image.jpg" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6 col-lg-7">
                <h1 class="text-black text-uppercase fw-bold">@Model.Product.Title</h1>
                <p class="text-black-50">by <b>@Model.Product.Author</b></p>
                <p class="badge m-0">@Model.Product.Category.Name</p>
                <div style="height:200px; max-height:200px;" class="overflow-auto mb-3">
                    <p class="text-secondary ">@Html.Raw(@Model.Product.Description)</p>
                </div>
                <div>
                    <h6 class="text-dark text-opacity-50 ">ISBN : @Model.Product.ISBN</h6>
                    <h6 class="text-dark text-opacity-50 pb-2">
                        List Price:
                        <span class="text-decoration-line-through">
                            @Model.Product.ListPrice.ToString("c")
                        </span>
                    </h6>

                </div>

                <div class="row text-center ps-2">
                    <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                        <div class="text-dark text-opacity-50 fw-semibold">Quantity</div>
                    </div>
                    <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                        <div class="text-dark text-opacity-50 fw-semibold">1-50</div>
                    </div>
                    <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                        <div class="text-dark text-opacity-50 fw-semibold">51-100</div>
                    </div>
                    <div class="p-1 col-3 col-lg-2 bg-white border-bottom">
                        <div class="text-dark text-opacity-50 fw-semibold">100+</div>
                    </div>
                </div>
                <div class="row text-center ps-2">
                    <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                        <div>Price</div>
                    </div>
                    <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                        <div>@Model.Product.Price.ToString("c")</div>
                    </div>
                    <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                        <div>@Model.Product.Price50.ToString("c")</div>
                    </div>
                    <div class="p-1 col-3 col-lg-2 bg-white text-warning fw-bold">
                        <div>@Model.Product.Price100.ToString("c")</div>
                    </div>
                </div>

                <div class="row pl-2 my-3">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary text-white border-0 fw-semibold"
                                  id="inputGroup-sizing-default">
                                Count
                            </span>
                            <input asp-for="Count" type="number" value="1" min="1" max="1000" class="form-control text-end"
                                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" />

                        </div>
                    </div>
                </div>
                <button type="submit"
                        class="btn btn-primary bg-gradient  w-100 py-2 text-uppercase fw-semibold">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</form>

