@model ShoppingCartVM
@{
    ViewData["Title"] = "Summary";
}

<form method="post">
    <br />
    <div class="container">
        <div class="card shadow border-0">
            <div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
                <div class="row px-4">
                    <div class="col-12">
                        <h2 class="pt-2 text-white text-center fw-bold">
                            SUMMARY
                        </h2>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="text-dark text-opacity-50 mb-4">
                        <a asp-action="Index" class="nav-link">
                            <i class="bi bi-caret-left"></i> Back to Cart
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="text-start mb-3">
                                    <span class="text-info fw-bold">Shipping Details:</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Name</label>
                                </div>
                                <div class="col-9">
                                    @if (!User.IsInRole(StaticDetail.Role_Company))
                                    {
                                        <input asp-for="OrderHeader.Name" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Name" class="form-control" readonly />
                                    }
                                    <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Phone</label>
                                </div>
                                <div class="col-9">
                                    @if (!User.IsInRole(StaticDetail.Role_Company))
                                    {
                                        <input asp-for="OrderHeader.PhoneNumber" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.PhoneNumber" class="form-control" readonly />
                                    }
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Street Address</label>
                                </div>
                                <div class="col-9">
                                    @if (!User.IsInRole(StaticDetail.Role_Company))
                                    {
                                        <input asp-for="OrderHeader.Address" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Address" class="form-control" readonly />
                                    }
                                    <span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Ward</label>
                                </div>
                                <div class="col-9">
                                    @if (!User.IsInRole(StaticDetail.Role_Company))
                                    {
                                        <input asp-for="OrderHeader.Ward" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.Ward" class="form-control" readonly />
                                    }
                                    <span asp-validation-for="OrderHeader.Ward" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>District</label>
                                </div>
                                <div class="col-9">
                                    @if (!User.IsInRole(StaticDetail.Role_Company))
                                    {
                                        <input asp-for="OrderHeader.District" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.District" class="form-control" readonly />
                                    }
                                    <span asp-validation-for="OrderHeader.District" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>City</label>
                                </div>
                                <div class="col-9">
                                    @if (!User.IsInRole(StaticDetail.Role_Company))
                                    {
                                        <input asp-for="OrderHeader.City" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="OrderHeader.City" class="form-control" readonly />
                                    }
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="text-start">
                                <span class="text-info fw-bold">Order Summary:</span>
                            </h4>

                            <ul class="list-group mb-3">
                                @foreach (var item in Model.ShoppingCartList)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@item.Product.Title</h6>
                                            <small class="text-muted">Quantity: @item.Count</small>
                                        </div>
                                        <span class="text-muted">@((item.Price * item.Count).ToString("c")) </span>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Total (USD)</small>
                                    <strong class="text-info">@((Model.OrderHeader.OrderTotal).ToString("c"))</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        <p style="color:maroon; font-size:14px;">
                            Estimate Arrival Date:
                            @DateTime.Now.AddDays(4).ToShortDateString()
                        </p>
                    </div>
                    <div class="col-12 col-md-4">
                        <button type="submit" value="Place Order" class="btn btn-primary form-control">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}